.bg-light {
    background-color: #fff !important;
    text-align: center;
}

body {
	background-color: #f1f1f1;
	color: #333333;
	font-family: 'Roboto', sans-serif;
}

.card {
	background-color: #fff;
	padding: 25px 30px;
	border: none;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.card:hover, .card:active {
	box-shadow: 0px 5px 15px rgba(0,0,0,0.13);
}

h5 {
	text-transform: uppercase;
	font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;
}

h6 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

p {
	color: #333;
	font-weight: 300;
	font-size: 15px;
}

.card:hover > h5{
	color: #222222;
}

@keyframes example {
  0% {font-size: 14px;}
  50% {font-size: 15px;}
  100% {font-size: 14px;}
}

.icon-play {
	background-color: #fb435b;
	border-radius: 50px;
	color: #fff;
	font-size: 16px;
	padding: 10px 25px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.icon-play:hover {
	color: #f1f1f1;
	text-decoration: none;
}

.animation {
	animation-name: example;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}


.m-50 {
    margin: 25px 25px;
}

header {
  position: relative;
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 80%;
  width: auto;
  height: 80%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
  width: 100%;
  padding: 10px 25px;
}

#myBtn {
  width: 45%;
  font-size: 16px;
  border-radius: 50px;
  padding: 7px;
  border: none;
  background: #fb435b;
  color: #fff;
  cursor: pointer;
  outline: none;
}

#myBtn:hover {
  background: #fb435b;
  color: #fff;
  outline: none;
}

#myBtn:active {
  background: #fb435b;
  color: #fff;
  outline: none;
}